<form method="post" action="{{ path('type_delete', {'idTypevet': type.idTypevet}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type.idTypevet) }}">
    <button class="btn">Delete</button>
</form>
