{% extends 'base.html.twig' %}

{% block title %}Panieruser index{% endblock %}

{% block body %}
    <h1>Panieruser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdPanieruser</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for panieruser in panierusers %}
            <tr>
                <td>{{ panieruser.idPanieruser }}</td>
                <td>
                    <a href="{{ path('panieruser_show', {'idPanieruser': panieruser.idPanieruser}) }}">show</a>
                    <a href="{{ path('panieruser_edit', {'idPanieruser': panieruser.idPanieruser}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('panieruser_new') }}">Create new</a>
{% endblock %}
